@import './style.css';
@import './footer.css';

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;
    background:var(--black);
    z-index:1;
    color:var(--white);
    position: fixed;
    width: 100%;
}

.logo{
    font-family: var(--logo-font);
    text-transform: uppercase;
    font-size:30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul > li{
    list-style: none;
    cursor: pointer;
    margin-right:30px;
    font-size:20px;
}

nav ul > li a{
    text-decoration: none;
    color:var(--white);
}

nav ul > li a.active{
    color:var(--orange);
}

nav ul > li:last-of-type{
    margin-right: 0px;
}

nav .menu{
    width:35px;
    height:28px;
    cursor: pointer;
    display: none;
}

.menu .bar{
    height:5px;
    width:100%;
    background-color:#FFFFFF;
    display:block;
    border-radius: 5px;
    transition: .3s ease;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.menu #first-bar{
    transform: translateY(2px)
}

.menu #second-bar{
    transform: translateY(6px)
}

.menu #third-bar{
    transform: translateY(10px)
}


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/audi-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:var(--white);
    position: relative;
    width:100%;
    top:0;
    left:0;
    z-index: -1;
    background-attachment: fixed;
    padding:0px 30px;
}

header h1{
    text-align: center;
    font-size:50px;
    letter-spacing: 1.5rem;
}

header p{
    font-size: 24px;
    text-align: center;
}

section.car-model{
    height: 100vh;
    width: 100%;
    border-top:1px solid var(--white);
    border-bottom:1px solid var(--white);
    background-position: right -10% top 50%;
    background-size: 700px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



section.car-model .model-details{
    margin-left: 100px;
    width:450px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left:0px;
    padding:30px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}



section.car-model:nth-of-type(1){
    background-color: #E24833;
    background-image: url('../images/hyundai.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white);
}

section.car-model:nth-of-type(2){
    background-color: #fa7d0b;
    background-image: url('../images/range-rover.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white);
}

section.car-model:nth-of-type(3){
    background-color: #CD2616;
    background-image: url('../images/audi-red.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white);
}

section.car-model:nth-of-type(4){
    background-color: #75767C;
    background-image: url('../images/benz-jp.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white) !important;
}

.model-details h2{
    font-size: 50px;
}

.model-details p{
    font-size:20px;
}

.model-details .button-container{
    margin-top:20px;
}

.model-details .button-container button{
    padding:10px 50px;
    border-radius:20px;
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
}

.model-details .button-container button:nth-of-type(2){
   margin-left:20px;
   background-color: var(--white);
   color:var(--black);
}

button.top-button{
    background-color: var(--orange);
    border:2px solid var(--white);
    width:50px;
    height:50px;
    border-radius:50%;
    color:var(--white);
    position: fixed;
    right: 20px;
    bottom:20px;
    cursor: pointer;
    display: none;
}

button svg{
    height: 50px;
    position: relative;
    top:-3px;
}

/*Media Queries*/

@media(max-width:990px){
    nav ul{
        display: none;
    }

    nav .menu{
        display: block;
    }

    nav ul.toggle{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        position:fixed;
        top:70px;
        right:0px;
        background-color: var(--black);
        padding:0 20px;
        /* padding:30px; */
        height:calc(100vh - 70px);
    }

    nav ul.toggle > li{
        margin-right:0px;
        font-size: 30px;
        /* margin-bottom:40px; */
    }

    section.car-model{
        background-position: right -10% top 50%;
        justify-content: flex-end;
    }
    section.car-model .model-details{
        border-bottom-right-radius: 0px;
        margin-right: 30px;
    }
}

@media(max-width:730px){
    section.car-model{
        background-position: left 40% top 50%;
        background-size: 600px auto;
    }
}

@media(max-width:470px){
    section.car-model{
        background-size: 500px auto;
    }

    section.car-model .model-details{
        width:100%;
        border-top-right-radius: 0px;
    }

    .model-details .button-container button{
        width:100%;
     }

    .model-details .button-container button:nth-of-type(2){
        margin-left:0px;
        margin-top:20px;
        display:block;
    }
}

@media(max-width:400px){
    header h1{
        letter-spacing: 1.2rem;
    }

    section.car-model{
        background-size: 400px auto;
    }
}

@media(max-width:320px){
    header h1{
        letter-spacing: 1.0rem;
    }
}